<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="contents">
	<h2>Member List</h2>
	<div class="condition">
		<form action="#" th:action="@{/member/list/}" th:object="${memberSearchForm}" method="POST">
			<!-- show error per 'p' tag -->
			<div th:if="${#fields.hasErrors('*')}">
			    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>    
			</div>
			<table>
				<tr>
					<td><label>Member Name</label></td>
					<td><input type="text" name="memberName" th:value="*{memberName}" /></td>
				</tr>
				<tr>
					<td><label>Purchased Product</label></td>
					<td><input type="text" name="purchaseProductName" th:value="*{purchaseProductName}" /></td>
				</tr>
				<!-- 
				<tr>
					<td><label>Member Status</label></td>
					<td>
						<html:select property="memberStatus">
							<c:forEach var="status" items="${memberStatusMap}">
								<html:option value="${f:h(status.key)}">${f:h(status.value)}</html:option>
							</c:forEach>
						</html:select>
					</td>
				</tr>
				 -->
				<tr>
					<td><label>Has Unpaid</label></td>
					<td><input type="checkbox" name="unpaid" th:value="*{unpaid}" /></td>
				</tr>
				<tr>
					<td><label>Formalized Date</label></td>
					<td><input type="text" name="formalizedDateFrom" th:value="*{formalizedDateFrom}" size="14" />～
					<input type="text" name="formalizedDateTo" th:value="*{formalizedDateTo}" size="14" /></td>
				</tr>
			</table>
			<input type="submit" name="doSearch" value="Search" />
		</form>
	</div>
	<hr />
	<a href="@{/member/add/}">新規登録</a>
	<table>
		<thead>
			<tr>
				<th>Member ID</th>
				<th>Member Name</th>
				<th>Member Status</th>
				<th>Formalized Date</th>
				<th>Update Date</th>
				<th>Edit</th>
				<th>Purchase History</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="bean : ${beans}">
				<td th:text="${bean.memberId}">99</td>
				<td th:text="${bean.memberName}">jflute</td>
				<td th:text="${bean.memberStatusName}">Formalized</td>
				<td th:text="${bean.formalizedDate}">2014/11/07</td>
				<td th:text="${bean.updateDatetime}">2014/11/07</td>
				<td>
					<a href="@{/member/edit/${bean.memberId}/}" th:if="not ${bean.withdrawalMember}">Edit</a>
					<span th:if="${bean.withdrawalMember}">Fixed</span>
				</td>
				<!-- 
				<td>
					<c:if test="${bean.purchaseCount > 0}">
						<s:link href="/member/purchase/list/${f:h(bean.memberId)}/1/">購入履歴</s:link>
					</c:if>
				</td>
				 -->
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>