
$manager.info("requestList: ${requestList.size()}")

#foreach ($request in $requestList)
#set ($tableMap = $request.tableMap)
$request.enableOutputDirectory()
$manager.makeDirectory($request.generateDirPath)

#if ($request.isResourceTypeJsonSchema())
  ## empty for now
#elseif ($request.isResourceTypeSolr())
  ## empty for now
#else
  ##
  ## <<<  Normal Gen  >>>
  ##
  #if ($request.isOnlyOneTable())
    #set ($table = $request.table)
    $request.info("parse('${request.generateFilePath}')")
    $generator.parse($request.templatePath, $request.generateFilePath, "", "")
  #else
    #foreach ($table in $request.tableList)
      #set ($path = "${request.generateDirPath}/${table.camelizedName}.java")
      $manager.makeDirectory($path)
      $request.info("parse('${path}')")
      $generator.parse($request.templatePath, $path, "", "")
    #end
  #end
#end

#end
