package ${request.package};

import org.dbflute.svflute.web.controller.HtmlTemplatePath;

/**
 * The path definition of HTML template.
 * @author FreeGen
 */
public interface ${request.className} {
#foreach ($column in $table.columnList)

    /** The path of the template: ${column.domainPath} */
#if ($column.capCamelDir && $column.capCamelDir != "")
    HtmlTemplatePath path_${column.capCamelDir}_${column.capCamelFile} = new HtmlTemplatePath("${column.domainPath}");
#else
    HtmlTemplatePath path_${column.capCamelFile} = new HtmlTemplatePath("${column.domainPath}");
#end
#end
}
